:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --black-color: #000;
  --background-color-hero: #2F303A;
  --background-color-grey: #F5F4FA;
  --background-color-finish: #2F303A;
  --color-address: rgba(255, 255, 255, 0.6);
  --background-color-hover: #188CE8;
  --color-placeholder: rgba(117, 117, 117, 0.5);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header-container-new {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item + .item {
  margin-left: 50px;
}

.logo-studio {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* ------------------SITE-NAV ---------------------------> */
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav:hover, .site-nav:focus {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.item {
  position: relative;
}

.nav.list {
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav.list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav.list {
    display: flex;
  }
}

.current {
  display: flex;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:hover, .current:focus {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  bottom: -32px;
}

/* ------------------CONTACT ---------------------------> */
.contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: var(--accent-color);
}

.menu-contacts.list {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-contacts.list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contacts.list {
    flex-direction: row;
    display: flex;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  color: var(--black-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  top: 0;
}

.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 48px;
  overflow: auto;
  position: relative;
}

.mob-site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.mob-item {
  margin-bottom: 30px;
}

.mob-item:last-child {
  margin-bottom: 0;
}

.mob-menu-email {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--primary-text-color);
}

.mob-menu-tel {
  display: flex;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.soc-mob-list {
  display: flex;
  margin-bottom: 48px;
}

.soc-network-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.soc-network:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.soc-network:not(:first-child) {
  padding-left: 10px;
}

.menu-close {
  color: var(--title-text-color);
  background-color: transparent;
  border: 0;
  display: block;
  margin-left: auto;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .header-container-new > .link.web {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container-new > .link.web {
    margin-right: 93px;
  }
}

.main-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .main-web {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .main-web {
    margin-right: 93px;
  }
}
.main-web:hover, .main-web:focus {
  color: var(--accent-color);
}

.hero__content {
  text-align: center;
  flex-grow: 1;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
  }
}

.hero {
  background-color: var(--background-color-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 118px;
  padding-top: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2px-mob.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2px-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-des-2x.jpg);
  }
}

.card {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .card {
    padding: 94px 0px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__title {
    text-align: left;
  }
}

.item-section {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .item-section {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .item-section {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.card-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.card-list__section {
  min-width: 270px;
  height: 120px;
  background-color: var(--background-color-grey);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-list__icon {
  fill: var(--title-text-color);
  width: 70px;
  height: 70px;
}

.picture {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .picture {
    display: block;
  }
}

.picture-list {
  display: flex;
  gap: 30px;
}

.picture-list__img {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.picture__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
}

.picture-list__title {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding-top: 27px;
}

.team {
  padding: 60px 0px;
  background-color: var(--background-color-grey);
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
}

.team-content {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team-content {
    padding-bottom: 30px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.item-team {
  gap: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .item-team {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .item-team {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.about-team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about-team {
    margin-bottom: 50px;
  }
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.team-proffesion {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  height: 44px;
  width: 44px;
  fill: currentColor;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  background-color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .clients-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 210px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  background-color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--white-color);
}

.new-list {
  display: flex;
}

.clients-logo {
  height: 60px;
  width: 106px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-logo, .clients-link:focus .clients-logo {
  fill: var(--accent-color);
}

.finish {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-finish);
}

.contacts-item {
  margin-bottom: 9px;
}

.contacts-address {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .contacts-address {
    margin-left: 0;
  }
}

.soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-location {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-location:hover, .address-location:focus {
  color: var(--accent-color);
}

.address {
  color: var(--color-address);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover, .address:focus {
  color: var(--accent-color);
}

.container.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .container.footer {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.soc-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .soc-title {
    margin-right: 70px;
  }
}

.finish-soc-item {
  width: 44px;
  height: 44px;
}

.finish-soc-list {
  display: flex;
  gap: 10px;
}

.finish-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.finish-soc-link:hover, .finish-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--background-color-grey);
}

.finish-soc-icon {
  fill: currentColor;
}

.title-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn-submit-title {
  display: flex;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  outline: transparent;
  margin-top: 20px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .btn-submit-title {
    align-items: center;
    text-align: center;
  }
}
.btn-submit-title:hover, .btn-submit-title:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-join {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email-text {
  height: 50px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
}
.email-text::-moz-placeholder {
  color: var(--color-address);
  padding-top: 15px;
  padding-left: 16px;
}
.email-text:-ms-input-placeholder {
  color: var(--color-address);
  padding-top: 15px;
  padding-left: 16px;
}
.email-text::placeholder {
  color: var(--color-address);
  padding-top: 15px;
  padding-left: 16px;
}

.email-join {
  display: block;
}
@media screen and (min-width: 1200px) {
  .email-join {
    display: flex;
    gap: 12px;
  }
}

.icon-send {
  height: 24px;
  width: 24px;
  fill: var(--white-color);
  margin-left: 10px;
}

.press:hover,
.press:focus {
  fill: var(--accent-color);
}

.logo-contact {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .logo-contact {
    text-align: left;
  }
}

.contacts-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: 0;
  }
}

.soc {
  text-align: center;
  margin-bottom: 60px;
}

.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 0px;
}
.web:hover, .web:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .web {
    margin-right: 93px;
  }
}

.portfolio {
  padding: 94px 0px;
}

.name-portfolio {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-portfolio {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.elements {
  width: 370px;
  position: relative;
}
.elements:hover, .elements:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 63px 24px;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-top-text, .portfolio-item:focus .portfolio-top-text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.total-portfolio {
  border: 1px solid var(--background-color-grey);
  padding: 20px 24px;
}

.filter {
  color: var(--white-color);
  background-color: var(--accent-color);
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  border: 1px solid transparent;
  padding: 6px 22px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover, .filter:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.simple {
  color: var(--title-text-color);
  background-color: var(--background-color-grey);
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.simple:hover, .simple:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  min-width: 216px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.primary {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary :hover,
.button.primary :focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--background-color-hover);
}
@media screen and (min-width: 768px) {
  .button.primary {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .button.primary {
    margin-top: 40px;
    padding: 10px 32px;
  }
}

.btn-modal {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--background-color-hover);
}

.btn-check {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 250ms linear;
  transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.icon-close-black-18dp-2-1-1 {
  background: var(--white-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
}

.press {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  padding: 40px 40px 12px;
}

.modal-inpute {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inpute:hover, .modal-inpute:focus {
  border-color: var(--accent-color);
}
.modal-inpute.coment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
  padding-top: 4px;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-inpute:hover + .input-icon, .modal-inpute:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}
.modal-coment:hover, .modal-coment:focus {
  border-color: var(--accent-color);
}
.modal-coment::-moz-placeholder {
  color: var(--color-placeholder);
}
.modal-coment:-ms-input-placeholder {
  color: var(--color-placeholder);
}
.modal-coment::placeholder {
  color: var(--color-placeholder);
}

.check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 7px;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-link :hover,
.check-link :focus {
  color: var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 7px;
}

.uncheck {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-icon .uncheck {
  opacity: 0;
}

.check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-icon .check {
  opacity: 1;
}

.input-check:focus-visible + .check-icon {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=main.css.map */