






/* ------------------HEADER ---------------------------> */




/* ------------------HERO ---------------------------> */






/* Button */


/* ------------------SECTION ---------------------------> */


/* ------------------WORK ---------------------------> */







/* ------------------TEAM ---------------------------> */



/* ------------------CLIENTS ---------------------------> */


/* ------------------FOOTER ---------------------------> */

 


/* ------------------PORTFOLIO ---------------------------> */



/* .elements:hover .portfolio-top-text {
    transform: translateY(0);
    opacity: 1;
}
.elements:focus .portfolio-top-text {
    transform: translateY(0);
} */






/* -----CHECKBOX */


