.check-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    margin-left: 7px;

    color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
:hover,
:focus {
    color: var(--accent-color);
    }
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text-agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-left: 7px;
}

.uncheck {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
.input-check:checked + .check-icon & {
    opacity: 0;
    }
}

.check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
.input-check:checked+.check-icon & {
    opacity: 1;
    }
}


.input-check:focus-visible+.check-icon {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}