:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000;
    --background-color-hero: #2F303A;
    --background-color-grey: #F5F4FA;
    --background-color-finish: #2F303A;
    --color-address: rgba(255, 255, 255, 0.6);
    --background-color-hover: #188CE8;
    --color-placeholder: rgba(117, 117, 117, 0.5);
}