.page-header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-container-new {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item + .item {
    margin-left: 50px;
}



.logo-studio {
    color: var(--black-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* ------------------SITE-NAV ---------------------------> */
.site-nav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--accent-color);
    }
}

.header-container {
    display: flex;
    align-items: center;
}

.item {
    position: relative;
}

.nav.list {
    // display: flex;
    align-items: center;
    display: none;
    @media screen and (min-width: 768px) {
    display: flex;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
}
}

.current {
    display: flex;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--accent-color);
    }
&::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    bottom: -32px;
    }
}


/* ------------------CONTACT ---------------------------> */
.contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--accent-color);
    }
}

.menu-contacts.list {
    // display: flex;
    display: none;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        display: flex;
}
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.menu-open {
    background-color: transparent;
    border: 0;
    margin-left: auto;
    color: var(--black-color);
    @media screen and (min-width: 768px) {
    display: none;
    }
    
    @media screen and (min-width: 1200px) {
    display: none;
    }
}

.mob-menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
    top: 0;
   
}

.mob-menu > .container {
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
padding-left: 40px;
padding-top: 48px;
overflow: auto;
position: relative;

}


.mob-site-nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);

    margin-bottom: 30px;
}
.mob-item {
    margin-bottom: 30px;
}
.mob-item:last-child {
    margin-bottom: 0;
}

.mob-menu-email {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
    
    color: var(--primary-text-color);

}


.mob-menu-tel {
    display: flex;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
}
.soc-mob-list {
    display: flex;
    margin-bottom: 48px;
    
    
}
.soc-network-link {

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);

    
    
       
}
.soc-network:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
   
}
.soc-network:not(:first-child) {
  
    padding-left: 10px;
}


.menu-close {
    color: var(--title-text-color);
    background-color: transparent;
    border: 0;
    display: block;
    margin-left: auto;
    padding-top: 10px;
}
.header-container-new >.link.web {
    @media screen and (min-width: 768px) {
    margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
    margin-right: 93px;
}
}
.main-web {
    color: var(--accent-color);
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        @media screen and (min-width: 768px) {
        margin-right: 88px;
        }
        
        @media screen and (min-width: 1200px) {
        margin-right: 93px;
        }
        &:hover,
        &:focus {
        color: var(--accent-color);
    
    }
    }